.page {
    display: flex;
    flex-direction: column;
}

.page > .content {
    display: flex;
    flex-direction: column;
    flex: 20 20 auto;
}

.page > .header {
    background-color: #D32323;
    display: flex;
    flex: 1 1 auto;
    min-height: 100px;
}

.header > .content {
    margin: auto;
    text-align: center;
}

.page > .footer {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.footer > .content {
    margin: auto;
    text-align: center;
    flex: 10 10 auto;
    padding-bottom: 15px;
}

.footer > .ui.divider {
    flex: 1 1 auto;
}