.post {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
}

.post > form {
    flex: 1 1 auto;
}

.content > .title {
    text-align: center;
    margin: auto;
}

.content .ui.header {
    flex: 1 1 auto;
    text-align: center;
    padding-top: 20px;
}

form > h2 {
    padding-left: 0 !important;
    padding-bottom: 0 !important;
}